@font-face{
	font-family: "Head";
	src: url("../fonts/MyriadProRegular.otf");
}

@font-face{
	font-family: "Head-Bold";
	src: url("../fonts/MyriadProBold.otf");
}

img{
	width: 20%;
}

html{
	max-width: 1360px;
	background: #0071bc;
}

body{
	background-color: #f0f1f3;
	text-align: center;
}

a{
	text-decoration: none;
}

a:hover { 
	text-decoration: none;
} 

/*HEAD*/
.align-head{
	max-width: 210px;
}

.head{
	padding-top: 15px;
	color: #4d4d4d;
	font-family: "Head";
	width: 750px;
	padding-bottom: 10px;
}

.block{
	width: 884px;
}

/*LOGO*/
.logo{
	position: relative;
	width: 70%;
}

.logo::before{
	content: "";
	display: block;
	padding-top: 70px;
}

.logo-img{
	position: absolute;
	top: 0;
	left: 5px;
	bottom: 0;
	right: 0;
	background: url(../images/logo.png) no-repeat;
	background-size: contain;
}

.logo-txt{
	position: absolute;
	left: 95px;
	top: 43px;
	font-size: 8px;
	width: 50px;
	color: #333333;
}

/*LOGIN*/
.login{
	margin-top: 2%;
}

.login-txt{
	position: relative;
	right: 15px;
	top: 22px;
	text-align: right;
	font-size: 12px;
}

.login-txt a{
	color: #4d4d4d;
	font-size: 12px;
	font-family: "Head";
}

/*IMAGES*/
.head-images{
	position: relative;
	width: 98%;
	margin-left: 4%;
}

.head-images::before{
	content: "";
	display: block;
	padding-top: 36%;
}

.head-image{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../images/head.png) no-repeat center center;
}
/*HEADER END*/
.left-right-block-wrap{
	max-width: 143px;
}

.fon{
	position: relative;
	width: 100%;
}

.fon::before{
	content: "";
	display: block;
	padding-top: 5%;
}

.fon_content_up{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../images/fon_up.png) no-repeat center center;
	background-size: cover;
}

/*CONTENT*/
.content{
	width: 100%;	
	margin-top: -0.3%;
}

.fon_content{
	background-color: #0071bc;
}

.content-all{
	padding-top: 1%;
}

.align-general{
	padding-top: 20%;
	width: 217px;
}

.head-pic{
	position: relative;
	width: 100%;
}

.head-pic::before{
	content: "";
	display: block;
	padding-top: 100%;
}

.uzor{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../images/uzor.png) no-repeat center center;
}

.general{
	max-height: 514px;
	max-width: 450px;
	width: 450px;
}

.general-text{
	margin: auto;
	font-size: 24px;
	font-family: "Head-Bold";
	color: white;
}

.text{
	margin-top: 5px;
	font-size: 12px;
	font-family: "Head";
	color: white;
}

.transports{
	padding-top: 30px;
	padding-bottom: 45px;
}

.transport{
	margin: 0;
	padding: 0;
	width: 31%;
}

.transport-fon{
	position: relative;
	width: 100%;
}

.transport-fon::before{
	content: "";
	display: block;
	padding-top: 90%;
}

#tram-id-1[type=radio] + div .transport-fon-1{
	position: absolute;
	top: 0;
	left: 39px;
	bottom: 0;
	right: 0;
	background: url(../images/tram.png) no-repeat;
	background-size: contain;
} 
#tram-id-1[type=radio]:checked + div .transport-fon-1{
	position: absolute;
	top: 0;
	left: 39px;
	bottom: 0;
	right: 0;
	background: url(../images/tram-1.png) no-repeat;
	background-size: contain;
}

#trolleybus-id-1[type=radio] + div .transport-fon-2{
	position: absolute;
	top: 0;
	left: 39px;
	bottom: 0;
	right: 0;
	background: url(../images/trolleybus.png) no-repeat;
	background-size: contain;
} 
#trolleybus-id-1[type=radio]:checked + div .transport-fon-2{
	position: absolute;
	top: 0;
	left: 39px;
	bottom: 0;
	right: 0;
	background: url(../images/trolleybus-1.png) no-repeat;
	background-size: contain;
}

#bus-id-1[type=radio] + div .transport-fon-3{
	position: absolute;
	top: 45px;
	left: 39px;
	bottom: 0;
	right: 0;
	background: url(../images/bus.png) no-repeat;
	background-size: contain;
} 
#bus-id-1[type=radio]:checked + div .transport-fon-3{
	position: absolute;
	top: 45px;
	left: 39px;
	bottom: 0;
	right: 0;
	background: url(../images/bus-1.png) no-repeat;
	background-size: contain;
}

.transport-name{
	font-family: Verdana;
	font-size: 12px;
	top: 10px;
	position: relative;
	display: block;
}

#tram-id-1[type=radio] + div + #tram-txt{
	color: #29abe2;
} 
#tram-id-1[type=radio]:checked + div + #tram-txt{
	color: #fbb03b;
}

#trolleybus-id-1[type=radio] + div + #trolleybus-txt{
	color: #29abe2;
} 
#trolleybus-id-1[type=radio]:checked + div + #trolleybus-txt{
	color: #fbb03b;
}

#bus-id-1[type=radio] + div + #bus-txt{
	color: #29abe2;
} 
#bus-id-1[type=radio]:checked + div + #bus-txt{
	color: #fbb03b;
}

.station{
	width: 100%;
}

.input-station::-webkit-input-placeholder {
	font-family: "Head";
	font-size: 13px;
}

.input-station{
	width: 100% !important;
	height: 45px;
	padding-bottom: 10px;
}

.go{
	margin-top: -2.5px;
	height: 50px;
	width: 110px;
	color: #333333;
	font-family: "Head";
	font-size: 15px;
	border: none!important; 
	max-width: 105px;
	border-radius: 25px;
	background-color: #fbb03b;
	outline: none!important;
}

.go:hover {
	background-color: #dd931e;
}

.go:active {
	background-color: #dd931e;
}

.go:focus {
}

.go:focus::before {
	background-color: #fbb03b;
}

.txt-1{
	padding-top: 100px;
}

.txt-1 a{
	font-size: 14px;
	font-family: "Head";
	color: black;
}

.txt-2{
	padding-bottom: 40px;
	font-size: 12px;
	font-family: "Head";
	color: white;
}

.txt-2 a{
	color: orange;
	text-decoration: underline
}

.fon_content_down{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../images/news_up.png) no-repeat center center;
	background-size: cover;
}

/*NEWS*/
.news{
	background: white;
	width: 100%;
	margin-top: -0.3%;
}

.news-block{
	overflow: hidden;
}

.text-last-news{
	margin-left: 9%;
	text-align: left;
	font-size: 12px;
	font-family: "Head";
	color: #fe9f29;
}

.text-last-news a{
	color: #fe9f29;
}

.reed{
	float: left;
	width: 100px;
	height: 50px;
	background-color: unset;
	border: 2px solid #fbb03b;
	border-radius: 30px;
	color: #000000;
	font-size: 12px;
	font-family: "Head";
	outline: none!important;
}

.slider .one_block{
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: -1;
	transition: transform 1s linear;
	will-change: transform;
}

.slider .one_block.active{
	z-index: 2;
	width: 100%;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition: transform 1s linear;
	will-change: transform;
}

.slider .one_block.activeNext{
	z-index: -1;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	transition: transform 1s linear;
	will-change: transform;
}
.slider .one_block.activePrev{
	z-index: -1;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	transition: transform 1s linear;
	will-change: transform;
}

.block-news{
	background: url(../images/uzor.png) no-repeat right bottom;
	height: 182px;
}

.image-news-block{
	display: block;
	float: left;
	width: 100%;
	height: 175px;
	overflow: hidden;
}

.image-news{
	height: 100%;
	border-radius: 5px;
}

.head-text-news{
	padding-right: 11%;
	display: block;
	float: left;
	text-align: left;
	color: #333333;
	font-size: 24px;
	font-family: "Head-Bold";
}

.text-news{
	padding-bottom: 6%;
	padding-right: 10%;
	margin-top: 5px;
	display: block;
	float: left;
	text-align: left;
	color: #808080;
	font-size: 12px;
	font-family: "Head";
	overflow: hidden;
}
/*CONTENT END*/

/*FOOTER*/
footer{
	background: linear-gradient(0deg, #0071bc 98%, #FFFFFF 2%);
}

.fon_down{
	position: relative;
	width: 100%;
}

.fon_down::before{
	content: "";
	display: block;
	padding-top: 3%;
}

.news_fon_down{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../images/news_down.png) no-repeat center center;
	background-size: cover;
}

.footer{
	font-size: 10px;
	font-family: "Head";
	color: white;
	padding-top: 5%;
	padding-bottom: 5%;
	max-height: 200px;
}

label > input{
	visibility: hidden;
	position: absolute;
}
label > input + img{
	cursor:pointer;
}

@media (min-width: 1360px) {
	html{
		margin: 0 auto;
		max-width: 100%;
	}
}

@media (max-width: 1199px) {
	.align-head{
		max-width: 110px;
	}

	.left-right-block-wrap{
		max-width: 43px;
	}

	.align-general{
		max-width: 217px;
	}
}

@media (max-width: 991px) {
	.align-general{
		max-width: 150px;
	}

	.block{
		width: 100%;
	}

	.head-pic::before{
		padding-top: 200%;
	}

	.uzor{
		top: 20px;
		left: 20px;
	}

	.transport-fon-1 {
		left: 28%!important;
	}

	.transport-fon-2 {
		left: 28%!important;
	}
}

@media (max-width: 767px) {

	.head-text-news{
		font-size: 20px;
	}
	.text-news{
		font-size: 10px;
	}

	.news-block {
		margin: auto 15%;
	}

	.mobile-align{
		max-width: 9%;
	}

	.image-news {
		height: 90%!important;
	}

	.head{
		width: 100%;
	}

	.head-image{
		background-size: 100%;
	}

	.general {
		max-width: 100%;
		width: 100%;
	}

	.transport-fon-3 {
		top: 36% !important;
		left: 28% !important;
	}
}

@media (max-width: 500px) {

	.image-news {
		height: 70%!important;
	} 

	.head-text-news{
		font-size: 14px;
	}
	.text-news{
		font-size: 9px;
	}

	.news-block {
		margin: auto 1%;
	}

	.mobile-general{
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}

	.mobile-input{
		width: 70%;
	}

	.mobile-go{
		width: 35%!important;
		margin-left: -5%;
	}

	.go{
		width: 100%;
	}

	.mobile-align{
		display: none;
	}

	.transports{
		margin: auto 0;
		padding: auto 0;
	}

	.transport {
		width: 30%;
	}

	.station{
		width: 100%;
	}

	.logo{
		width: 70%;
	}

	.logo::before{
		padding-top: 50px;
	}

	.top{
		background: green;
		min-height: 50px;
	}

	.logo-txt {
		left: 68px;
		top: 27px;
	}

	.login-txt {
		top: 10px;
	}
}