@font-face{
	font-family: "Head";
	src: url("../fonts/MyriadProRegular.otf");
}

@font-face{
	font-family: "Head-Bold";
	src: url("../fonts/MyriadProBold.otf");
}

html{
	max-width: 1360px;
	background: #0071bc;
}

body{
	background-color: #0071bc;
	text-align: center;
}

a{
	text-decoration: none;
}

a:hover { 
	text-decoration: none;
} 

/*HEAD*/
.align-head{
	max-width: 210px;
}

header{
	margin-bottom: -5%;
}

.head{
	padding-top: 15px;
	color: #ffffff;
	font-family: "Head";
	width: 750px;
	padding-bottom: 10px;
}

.block{
	/*width: 100%;*/
}

/*LOGO*/
.logo{
	position: relative;
	width: 70%;
}

.logo::before{
	content: "";
	display: block;
	padding-top: 70px;
}

.logo-img{
	position: absolute;
	top: 0;
	left: 5px;
	bottom: 0;
	right: 0;
	background: url(../images/logo_white.png) no-repeat;
	background-size: contain;
}

.logo-txt{
	position: absolute;
	left: 95px;
	top: 43px;
	font-size: 8px;
	width: 50px;
	color: #ffffff;
}

/*LOGIN*/
.login{
	margin-top: 2%;
}

.login-txt{
	position: relative;
	right: 15px;
	top: 22px;
	text-align: right;
	font-size: 12px;
}

.login-txt a{
	color: #ffffff;
	font-size: 12px;
	font-family: "Head";
}

.title{
	margin-left: auto;
	margin-right: auto;
	width: 560px;
	/*margin: 0 3%;*/
}

.text-last-news{
	padding-top: 40px;
	font-size: 12px;
	font-family: "Head";
	color: #fe9f29;
}

.text-last-news a{
	color: #fe9f29;
}

.head-text h1{
	color: #ffffff;
	font-size: 24px;
	font-family: "Head-Bold";
}

.description{
	color: #e6e6e6;
	font-size: 14px;
	font-family: "Head";
	margin-bottom: 22%;
}

/*HEADER END*/
.left-right-block-wrap{
	max-width: 143px;
}

.fon{
	position: relative;
	width: 100%;
}

.fon::before{
	content: "";
	display: block;
	padding-top: 5%;
}

.fon_content_down{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../images/news_up.png) no-repeat center center;
	background-size: cover;
}

/*NEWS*/

.context{
	text-align: justify;
	text-indent: 10px; /* Отступ первой строки в пикселах */
}

.block-news-border{
	margin-left: 50px; 
}

.block-news{
	background: url(../images/uzor.png) no-repeat bottom left;
	width: 520px;
	height: 225px;
	padding-top: 25px;
	margin-left: auto;
	margin-right: auto;
	/*margin: 0 4%;*/
	margin-bottom: 60px;
	margin-top: -135px;
}

.image-news-block{
	display: block;
	float: left;
	margin-left: 47px;
	width: 390px;
	height: 220px;
	overflow: hidden;
	margin-right: 17px;
}

.image-news{
	height: 100%;
	width: 390px;
	border-radius: 5px;

}

.social{
	display: block;
	float: left;
	margin-left: 3px;
}

.share-txt{
	padding-top: 97px;
	color: #000000;
	font-size: 12px;
	font-family: "Head";
}

.context{
	width: 100%;
	color: #808080;
	font-size: 14px;
	font-family: "Head";
}

.context h1, .context h2, .context h3 {
	text-align: center!important;
}

.context p img {
	margin-left: -10px;
}

.content-all{
	margin-left: auto;
	margin-right: auto;
	width: 560px;
}

.content-all img{
	width: 100%;
}

.news{
	padding-top: 10px;
	background: white;
	width: 100%;
	margin-top: -0.3%;
}

.head-text-news{
	display: block;
	width: 290px;
	max-height: 70px;
	float: left;
	text-align: left;
	color: #333333;
	font-size: 24px;
	font-family: "Head-Bold";
}

.text-news{
	margin-top: 5px;
	display: block;
	width: 220px;
	max-height: 69px;
	float: left;
	text-align: left;
	color: #808080;
	font-size: 12px;
	font-family: "Head";
	overflow: hidden;
}

.social-fb{
	margin-top: 23px;
	background: url(../images/social-fb.png) no-repeat;
	background-size: contain;
	width: 35px;
	height: 35px;
}

.social-g{
	margin-top: 15px;
	background: url(../images/social-g+.png) no-repeat;
	background-size: contain;
	width: 35px;
	height: 35px;
}

.social-count{
	position: relative;
	top: -7px;
	left: 35px;
	text-align: left;
	color: #666666;
	font-size: 12px;
	font-family: "Head";
}

.time-image{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/clock.png) no-repeat;
	width: 20px;
	height: 20px;
}

.text-time{
	color: #808080;
	font-size: 12px;
	font-family: "Head";
}

.btn{
	width: 175px;
	height: 60px;
	background-color: unset;
	border: 2px solid #fbb03b;
	border-radius: 30px;
	color: #000000;
	font-size: 12px;
	font-family: "Head";
	outline: none!important;
}

.button_more{
	padding-top: 33px;
	padding-bottom: 35px;
}

/*CONTENT END*/

/*FOOTER*/
footer{
	background: linear-gradient(0deg, #0071bc 98%, #FFFFFF 2%);
}

.footer{
	font-size: 10px;
	font-family: "Head";
	color: white;
	padding-top: 5%;
	padding-bottom: 3%;
	max-height: 200px;
}

@media (min-width: 1360px) {
	html{
		margin: 0 auto;
		max-width: 100%;
	}
}

@media (max-width: 1199px) {
	.align-head{
		max-width: 110px;
	}
}

@media (max-width: 991px) {

	.block{
		width: 100%;
	}
}

@media (max-width: 767px) {

	.title{
		width: 100%;
	}

	.block{
		width: 100%;
	}

	.description{
		margin-bottom: 130px;
	}

	.block-news{
		width: 440px;
		/*margin-bottom: 0;*/
	}

	.image-news-block{
		width: 300px;
		height: 200px;
	}

	.image-news{
		width: 100%;
	}

	.head-text-news{
		padding-top: 5px;
		font-size: 14px;
		width: 30%;
	}

	.content-all {
		width: 90%; 
	}

	.text-news{
		font-size: 10px;
		width: 30%;
	}

	.block-time{
		width: 30%;
		padding-top: 5px;
	}

	.head{
		width: 100%;
	}
}

@media (max-width: 500px) {

	.logo{
		width: 70%;
	}

	.logo::before{
		padding-top: 50px;
	}

	.logo-txt {
		left: 68px;
		top: 27px;
	}

	.login-txt {
		top: 10px;
	}

	.head-text h1 {
		font-size: 15px;
	}

	.description {
		margin-bottom: 80px;
		font-size: 10px;
	}

	.block-news-border{
		margin: 0;
	}

	.block-news{
		width: 270px;
		margin-left: auto;
		margin-right: auto;
		background: none;
		margin-top: -90px;
		height: 0px;
		margin-bottom: 150px;
	}

	.image-news-block{
		width: 170px;
		height: 120px;
		margin-left: 35px;
		margin-right: 10px;
	}

	.share-txt{
		padding-top: 50px;
		font-size: 10px;
	}

	.social-fb {
		margin-top: 5px;
		width: 20px;
		height: 20px;
	}

	.social-g {
		margin-top: 5px;
		width: 21px;
		height: 21px;
	}

	.social-count {
		left: 20px;
		font-size: 10px;
	}

	.head-text-news{
		font-size: 10px;
		width: 40%;
	}

	.text-news{
		font-size: 8px;
		width: 40%;
		max-height: 45px;
	}

	.content-all {
		width: 100%; 
	}

	.context{
		font-size: 12px;
		width: 100%;
	}

	h2, .h2 {
		font-size: 20px;
	}

	h3, .h3 {
		font-size: 15px;
	}

	.content-all img {
		width: 100%!important;
		height: auto!important;
	}

	table p{
		width: 100%;
	}

	.block-time{
		width: 40%;
	}

	.time-image{
		width: 10px;
		height: 10px;
		background-size: contain;
	}

	.text-time{
		font-size: 8px;
	}

	.btn{
		font-size: 8px;
		width: 100px;
		height: 40px;
	}

	.button_more {
		padding: 10px;
	}

	.block{
		margin: 0 auto;
	}

	.news{
		margin: 0 auto;
	}
}