<!DOCTYPE html>
<html>
    
	<head>
	    <meta name='freelancehunt' content='6e8effb15cf32f6' />
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>Artinov IT School</title>
	</head>
	<body align="center" style="background: #FF8585;">
		<marquee behavior="slide" direction="down" scrollamount="10">
			<center><nav style="background: #57A76C; border-radius: 30px; padding: 5px; max-width: 1000px;">
				<a href="index.html" title="Art">
					<img src="img/Art.jpg" alt="Art" width="10%" style="border-radius: 45px;">
				</a>
				<a href="HomeWork_1/index.html" title="Tree">
					<img src="img/FamilyTree.png" alt="Tree" width="10%">
				</a>
				<a href="HomeWork_2/index.html" title="Form">
					<img src="img/Form.png" alt="Form" width="10%">
				</a>	
				<a href="HomeWork_3/index.html" title="Toward">
					<img src="img/Toward.png" alt="Toward" width="10%">
				</a>	
				<a href="HomeWork_4/index.html" title="Animation">
					<img src="img/animation.gif" alt="Animation" width="15%">
				</a>	
				<a href="HomeWork_5/index.html" title="GKH">
					<img src="img/GKH.png" alt="GKH" width="10%">
				</a>	
				<a href="HomeWork_7/index.php" title="target">
					<img src="img/target.png" alt="target" width="10%">
				</a>	
				<a href="HomeWork_8/index.php" title="function">
					<img src="img/function.png" alt="function" width="10%">
				</a>	
				<a href="HomeWork_9/index.php" title="SQL">
					<img src="img/SQL.png" alt="SQL" width="10%">
				</a>	
				<a href="HomeWork.10/index.php" title="animals">
					<img src="img/animals.png" alt="animals" width="15%">
				</a>	
				<a href="HomeWork.11/index.php" title="trapeze">
					<img src="img/trapeze.png" alt="trapeze" width="15%">
				</a>	
				<a href="HomeWork.12/index.php" title="Bootstrap">
					<img src="img/Bootstrap.png" alt="Bootstrap" width="10%">
				</a>	
				<a href="HomeWork.13/index.php" title="404">
					<img src="img/404.png" alt="404" width="10%">
				</a>	
				<a href="HomeWork.14/admin/station" title="station">
					<img src="img/station.png" alt="station" width="7%">
				</a>
				<a href="HomeWork.15/admin/station" title="bus_stop">
					<img src="img/bus_stop.png" alt="bus_stop" width="10%">
				</a>	
				<a href="G/" title="goto">
					<img src="G/template/images/logo.png" alt="goto" width="15%">
				</a>	
				<a href="L/" title="goto">
					<img src="L/template/images/logo.png" alt="goto" width="15%">
				</a>
			</nav></center>
		</marquee>
		<h1><font color="brown">Artinov IT School</font></h1>
		<a href="#" title="Art">
			<img src="img/Art.jpg" alt="Art" width="10%">
		</a>
		<h2><font color="blue">Leson 1</font></h2>
		<h3>HomeWork 1 - Family Tree</h3>
			<a href="HomeWork_1/index.html" title="Tree">
				<img src="img/FamilyTree.png" alt="Tree" width="10%">
			</a>
		<h2><font color="blue">Leson 2</font></h2>
		<h3>HomeWork 2 - Forms and table</h3>
			<a href="HomeWork_2/index.html" title="Form">
				<img src="img/Form.png" alt="Form" width="10%">
			</a>
		<h2><font color="blue">Leson 3</font></h2>
		<h3>HomeWork 3 - Toward and Galery</h3>
			<a href="HomeWork_3/index.html" title="Toward">
				<img src="img/Toward.png" alt="Toward" width="10%">
			</a>
		<h2><font color="blue">Leson 4</font></h2>
		<h3>HomeWork 4 - Animation</h3>
			<a href="HomeWork_4/index.html" title="Animation">
				<img src="img/animation.gif" alt="Animation" width="10%">
			</a>
		<h2><font color="blue">Leson 5</font></h2>
		<h3>HomeWork 5 - GKH - psd - верстка сайта</h3>
			<a href="HomeWork_5/index.html" title="GKH">
				<img src="img/GKH.png" alt="GKH" width="10%">
			</a>
		<h2><font color="blue">Leson 7</font></h2>
		<h3>HomeWork 7 - PHP - random, count, target</h3>
			<a href="HomeWork_7/index.php" title="target">
				<img src="img/target.png" alt="target" width="10%">
			</a>
		<h2><font color="blue">Leson 8</font></h2>
		<h3>HomeWork 8 - PHP - function</h3>
				<a href="HomeWork_8/index.php" title="function">
					<img src="img/function.png" alt="target" width="10%">
				</a>	
		<h2><font color="blue">Leson 9</font></h2>
		<h3>HomeWork 9 - SQL + PHP, my database</h3>
				<a href="HomeWork_9/index.php" title="function">
					<img src="img/SQL.png" alt="target" width="10%">
				</a>
		<h2><font color="blue">Leson 10</font></h2>
		<h3>HomeWork 10 - Animals</h3>
				<a href="HomeWork.10/index.php" title="animals">
					<img src="img/animals.png" alt="animals" width="20%">
				</a>
		<h2><font color="blue">Leson 11</font></h2>
		<h3>HomeWork 11 - Trapeze</h3>	
				<a href="HomeWork.11/index.php" title="trapeze">
					<img src="img/trapeze.png" alt="trapeze" width="20%">
				</a>
		<h2><font color="blue">Leson 12</font></h2>
		<h3>HomeWork 12 - Bootstrap</h3>	
				<a href="HomeWork.12/index.php" title="Bootstrap">
					<img src="img/Bootstrap.png" alt="Bootstrap" width="20%">
				</a>	
		<h2><font color="blue">Leson 13</font></h2>
		<h3>HomeWork 13 - MVC</h3>	
				<a href="HomeWork.13/index.php" title="404">
					<img src="img/404.png" alt="404" width="20%">
				</a>	
		<h2><font color="blue">Leson 14</font></h2>
		<h3>HomeWork 14 - Розклад руху автобусів. Початок. Станції</h3>	
				<a href="HomeWork.14/admin/station" title="station">
					<img src="img/station.png" alt="station" width="15%">
				</a>
		<h2><font color="blue">Leson 15</font></h2>
		<h3>HomeWork 15 - Розклад руху автобусів. 2. Станції, Користувачі, Маршрути</h3>	
				<a href="HomeWork.15/admin/station" title="bus_stop">
					<img src="img/bus_stop.png" alt="bus_stop" width="15%">
				</a>
		<h3>GOTO</h3>
				<a href="G/" title="goto">
					<img src="G/template/images/logo.png" alt="goto" width="15%">
				</a>
				<a href="L/" title="goto">
					<img src="L/template/images/logo.png" alt="goto" width="15%">
				</a>
	</body>
</html>